.forms{
    padding-top: 40px;
    padding-bottom: 10px;
}

body{
    background-color: #98CCC8;
}

.text-center{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h3{
    padding-top: 5%;
}

#box{
    padding-top: 5%;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="time"],
.form-style-8 textarea
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    width: 40%;
    padding: 7px;
    border: none;
    border-bottom: 1.5px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    color: white;
    font: 16px Montserrat, sans-serif;
    height: 45px;
}

button{
    background-color: #397F7B;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 3%;
}
